<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

    <!-- Navbar brand -->
    <logo><a class="navbar-brand" href="#">CRUD</a></logo>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbRippleRadius>Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a href="https://github.com/marcusaaronb/realtime-material-crud" target="_blank" class="nav-link waves-light" mdbRippleRadius>GITHUB <i class="fa fa-github"></i></a>
            </li>
            <li class="nav-item">
                <a href="https://www.linkedin.com/in/marcusaaronb" target="_blank" class="nav-link waves-light" mdbRippleRadius>LINKEDIN <i class="fa fa-linkedin"></i></a>
            </li>
        </ul>
        <!-- Links -->

        <!-- Search form -->
        <form class="form-inline  waves-light" mdbRippleRadius>
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
        </form>
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->