<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

    <!-- Navbar brand -->
    <logo><a class="navbar-brand" href="#">CRUD</a></logo>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbRippleRadius>Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a href="https://github.com/marcusaaronb/realtime-material-crud" target="_blank" class="nav-link waves-light" mdbRippleRadius>GITHUB <i class="fa fa-github"></i></a>
            </li>
        </ul>
        <!-- Links -->

        <!-- Search form -->
        <form class="form-inline  waves-light" mdbRippleRadius>
            <input class="form-control mr-sm-2" type="text" placeholder="Search Last Name" (keyup)="search($event)">
        </form>
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

<div class="container">
    <div class="col-md-12">
        <p class="h5 text-center mb-4"></p>
        <div class="alert alert-{{ alertStyle }}" *ngIf="isAlert"> {{ errorMessage }} </div>
    </div>
    <form (ngSubmit)="doSave(data)" *ngIf="isAdd;else showAddButton">
        <div class="row">
            <input type="hidden" id="id" name="id" [(ngModel)]="data.id">
            <div class="col-md-3">
                <div class="md-form">
                    <input mdbActive type="text" id="fname" name="fname" class="form-control" [(ngModel)]="data.fname">
                    <label for="fname" class="">First Name</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="md-form">
                    <input mdbActive type="text" id="mi" name="mi" class="form-control" [(ngModel)]="data.mi">
                    <label for="mi" class="">Middle Initial</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="md-form">
                    <input mdbActive type="text" id="lname" name="lname" class="form-control" [(ngModel)]="data.lname">
                    <label for="lname" class="">Last Name</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="md-form">
                    <input mdbActive type="text" id="course" name="course" class="form-control" [(ngModel)]="data.course">
                    <label for="course" class="">Course</label>
                </div>
            </div>
            <button type="submit" class="btn btn-success waves-light" mdbRippleRadius>SAVE <i class="fa fa-save"></i></button>
            <button type="button" class="btn btn-default waves-light" mdbRippleRadius (click)="doCancel()" [disabled]="isCancel">CANCEL <i class="fa fa-ban"></i></button>
        </div>
    </form>

    <ng-template #showAddButton>
        <button type="button" class="btn btn-success waves-light mdbRippleRadius pull-right" (click)="doAdd()">Add</button>
    </ng-template>
    <p class="h5 text-center mb-4"></p>
    <div class="table table-reponsive">
        <table class="table table-striped table-bordered table-hover table-sm">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Middle Initial</th>
                    <th>Last Name</th>
                    <th>COURSE</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of student$ | async; let i = index">
                    <th scope="row">{{ i+1 }}</th>
                    <td>{{ student.fname }}</td>
                    <td>{{ student.mi }}</td>
                    <td>{{ student.lname }}</td>
                    <td>{{ student.course }}</td>
                    <td><button type="button" class="btn btn-warning waves-light btn-sm" mdbRippleRadius (click)="doUpdate(student)" [disabled]="buttonDisable">UPDATE <i class="fa fa-edit"></i></button>
                        <button type="button" class="btn btn-danger waves-light btn-sm" mdbRippleRadius (click)="doDelete(student)" [disabled]="buttonDisable">DELETE <i class="fa fa-trash"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>